body {
    margin: 0;
    padding: 0;
}

.main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

@media (max-width: 768px) {
    .main {
        height: 93.5vh;
    }
}

.branding {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: xx-large;
}

.subpage_branding {
    justify-content: left;
}

.quizCard {
    border-radius: 10px;
    /* background-color: #04bfbf; */
    background: linear-gradient(
        to bottom right,
        #7db2f7,
        #82bdf7,
        #7fd9d9,
        #f79991
    );
    margin: 10px;
    margin-top: 0px;
    padding: 18px;

    overflow: auto;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.quizCard .question {
    /* background-color: #f26f63; */
    background-color: paleturquoise;
    padding: 8px;
    border-radius: 10px;
}

.quizCard .options {
    margin-top: 25px;
    padding-bottom: 25px;
}

.quizCard .options div {
    padding: 18px;
    border-radius: 10px;
    justify-content: center;
    /* background-color: #0583f2; */
    background-color: bisque;
    margin-top: 5px;
}

.quizCard .options div:hover {
    border: 1px solid black;
}

.quizCard .options .selected {
    border: 1px solid black;
    opacity: 0.7;
}

.quizCard .options div input {
    margin-right: 10px;
}

.quizCard .navigationBtns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: normal;
    font-style: normal;
}

.quizCard .navigationBtns button {
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
